<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basicInformation.css">
    <title>Sign Up Form</title>
</head>
<body>
    <div class="signup-container">
        <form class="signup-form">
            <h3>Basic information</h3>
            <h4>Enter your birth day and gender</h4>
            <input type="Month" placeholder="Month">
            <input type="Day" placeholder="Day">
            <input type="Year" placeholder="Year">
            <input type="Gender" placeholder="Gender">
            <!--<label for="password">Password:</label>-->
            <!--<input type="password" id="password" name="password" required>-->

            <ul class="button">
                <li><a href="/Sign_Up/basicInformation/gmailPassword">Next</a></li>
            </ul>            
        </form>
    </div>
</body>
</html>
