<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/logIn.css">
    <title>Login Form</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">
                <h2>Log in</h2>
            </div>
            <div class="login-form">
                <input type="text" placeholder="Your Email">
                <input type="password" placeholder="Password">
                <button>Login</button>
                <div class="forgot-password">
                    <a href="#" >Forgot Password?</a>
                </div>
                <div class="separator">
                    <div class="line"></div>
                    <div class="text">or</div>
                    <div class="line"></div>
                </div>
                <button class="login-with-gmail">Continue with Gmail</button>
            </div>
        </div>
    </div>
</body>
</html>
