<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gmailPassword.css">
    <title>Sign Up Form</title>
</head>
<body>
    <div class="signup-container">
        <form class="signup-form">
            <h2>Sign up</h2>
            <h4>Enter your name, password and your gmail and we will send you a verify code.</h4>

            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <input type="gmail" placeholder="email">

            <ul class="button">
                <li><a href="/Sign_Up/basicInformation/gmailPassword">Submit</a></li>
            </ul>            
        </form>
    </div>
</body>
</html>
