body, h2, form, ul {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/signUp_basicInformation_background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.signup-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 10px;
}

.signup-form h3 {
    text-align: center;
    margin-bottom: 10px;
}

.signup-form h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-form input {
    width: 91.8px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a02020;
    border-radius: 4px;
}

.signup-form input[type="Gender"] {
    width: 328px;
}

.button {
    margin-top: 20px;
    margin-bottom: 15px;
    list-style-type: none; 
    display: flex;
}

.button li {
    margin-left: 277px;
    
}

.button li a {
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 10px 20px ;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button li a:hover {
    background-color: #164bd0;
}
