/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Hubot Sans', sans-serif;
}

.main-content {
    padding: 70px 60px;
}

.footer {
    padding: 0px 60px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    color: white;
    transition: background-color 0.3s;

}

.navbar:hover {
    background-color: #4a1f1f;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.3s;
}

.logo:hover {
    background-color: #ffffff;
    color: #103da4;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px ;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #ffffff;
    color: #103da4;
}
