body, h2, form, input {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/logIn_background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input { 
    width: 328px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a02020;
    border-radius: 9px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #199a57;
    color: white;
    border: none;
    outline-width: 55px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #164bd0;
}

.forgot-password {
    text-align: center;
    margin-top: 5px;
    text-decoration: none; 
    font-weight: bold;
    font-size: 1rem;
}

.separator {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ddd;
}

.text {
    margin: 0 10px;
    color: #999;
}

.login-with-gmail {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}
